.taskColumn {
  background-color: #ddd;
  margin: 20 10;
}

.taskColumn ul {
  margin: 20 0;
  padding: 0;
}

task-card {
  position: static;
}

/*.card {
  position: absolute;
  left: 50px;
  top: 50px;
}*/
