
body {
  padding-top: 53px;
  padding-left: 50px;
}

.circle {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
}

.panel-btn {
  background-image: none;
  background-color: #a03939;
  color: white;
}

.panel-btn:hover {
  background-color: #941212;
}

/*NAVBAR*/
.navbar {
  background-color: #9e3737;
}

.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  padding: 10px;
}

.navbar a{
  color: black;
  font-size: 18;
}

/*BOARDS*/
.boards {
  display: block;
  width: 300px;
  max-height: 500px;
  position: absolute;
  background-color: #ddd;
  padding: 15px;
  top: -500px;
  transition: top 1s cubic-bezier(.35,-0.34,.47,1);
}

.boards:target {
  top: 53px;
  transition: top 1s cubic-bezier(.35,.19,.47,1.33);
}

/*MAIN*/
.empty-board-text {
  height: 100%;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}
.empty-board-text span{
  color: grey;
  font-size: 30px;
}

task-main {
  top: 30px;
  margin-left: 50px;
}
.columns {
  display: inline-block;
}

.add-column {
  display: inline-block;
}

/*COLUMN*/
.taskColumn {
  vertical-align: top;
  display: inline-block;
  background-color: #ddd;
  border-radius: 5px;
  margin: 20 10;
  padding: 15px;
}

.taskColumn>input {
  background-color: #ddd;
  border-style: none;
}
.taskColumn>input:focus {
  background-color: white;
  border-style: inset;
}

.column {
  min-width: 250px;
  min-height: 200px;
  padding: 15px;
}

/*PANEL*/
.panel-placeholder {
  display: block;
  width: 263px;
  height: 50px;
  margin: 10px 0;
  border: 2px solid #558bb9;
  border-radius: 3px;
  background-color: #7a9cb9;
}

.panel > .panel-heading {
    background-image: none;
    background-color: #a03939;
    color: white;
}

/*TASK CARD*/
task-card {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(4, 10, 30, 0.8);
  z-index: 99999;
  display: block;
  /*pointer-events: auto;*/
}

task-card .card {
  width: 800px;
  position: relative;
  /*top: -1000px;*/
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #ffffff;
  background: -moz-linear-gradient(#ffffff, #cccccc);
  background: -webkit-linear-gradient(#ffffff, #cccccc);
  background: -o-linear-gradient(#ffffff, #cccccc);
  box-shadow: 0 0 10px #000000;
  -moz-box-shadow: 0 0 10px #000000;
  -webkit-box-shadow: 0 0 10px #000000;
}

task-card:target .card {
  top: -90px;
  -moz-transition: all 0.8s ease-out;
  -webkit-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  -transition-delay: 0.4s;
}

:disabled {
    color: graytext;
}
