
/*COLUMN*/
.taskColumn {
  background-color: #ddd;
  margin: 20 10;
}

.taskColumn ul {
  margin: 20 0;
  padding: 0;
}

.column {
  min-height:50px;
}

/*PANEL*/
.panel-placeholder {
  display: block;
  width: 263px;
  height: 50px;
  margin: 10px 0;
  border: 2px solid #558bb9;
  border-radius: 3px;
  background-color: #7a9cb9;
}

/*TASK CARD*/
task-card {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(4, 10, 30, 0.8);
  z-index: 99999;
  display: block;
  /*pointer-events: auto;*/
}

task-card .card {
  width: 800px;
  position: relative;
  /*top: -1000px;*/
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #ffffff;
  background: -moz-linear-gradient(#ffffff, #cccccc);
  background: -webkit-linear-gradient(#ffffff, #cccccc);
  background: -o-linear-gradient(#ffffff, #cccccc);
  box-shadow: 0 0 10px #000000;
  -moz-box-shadow: 0 0 10px #000000;
  -webkit-box-shadow: 0 0 10px #000000;
}

task-card:target .card {
  top: -90px;
  -moz-transition: all 0.8s ease-out;
  -webkit-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  -transition-delay: 0.4s;
}

:disabled {
    color: graytext;
}
