<div class="card container">
    <div class="row">
      <div class="col-xs-1">
        <select class="priorityDropdown">
          <option value="Critical">Critical</option>
          <option value="Major">Major</option>
          <option value="Minor">Minor</option>
          <option value="Trivial">Trivial</option>
        </select>
      </div>
      <div class="col-xs-8">
        <input ng-model="taskCardController.taskUpdate.name" />
      </div>
      <div class="col-xs-2">
        <input ng-model="taskCardController.taskUpdate.assign"/>
      </div>
      <div class="col-xs-1">
        <button ng-click="isEdited = false; isAdded = false; taskCardController.discardChanges()">X</button>
      </div>
    </div>
    </br>
    <button>Clone</button>
    </br>
    <p>Description</p>
    <textarea>{{taskCardController.task.description}}</textarea>
    </br>
    <button ng-click="taskCardController.addChecklist()" ng-disabled="taskCardController.taskUpdate.checklist">Add Checklist</button>
    <button ng-click="taskCardController.removeChecklist()" ng-disabled="!taskCardController.taskUpdate.checklist">Remove Checklist</button>
    <div class="checklist" ng-show="taskCardController.task.checklist">
      </br>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{taskCardController.checklistProgress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{taskCardController.checklistProgress}}%;">
          {{taskCardController.checklistProgress}}%
        </div>
      </div>
      <div class="checkbox" ng-repeat="checkbox in taskCardController.taskUpdate.checklist">
        <input type="checkbox" ng-checked="checkbox.checked" ng-model="checkbox.checked" ng-click="taskCardController.calculateChecklistProgress()"/>
        <input type="text" ng-model="checkbox.item"/>
        <a ng-click="taskCardController.removeCheckbox(checkbox)">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </a>
      </div>
      <a  ng-click="taskCardController.addCheckbox()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </a>
    </div>
    </br>
    <p>Add Comment</p>
    <textarea placeholder="Write your comment..." ng-model="comment">{{comment}}</textarea>
    <button ng-click="taskCardController.addComment(comment)">Add comment</button>
    <p>Comments</p>
    <div class="comments">
      <div class="comment" ng-repeat="comment in taskCardController.taskUpdate.comments">
        <span>{{comment.author}}</span>
        <span>{{comment.date}}</span>
        <p>{{comment.text}}</p>
      </div>
    </div>

    <button  ng-click="isEdited = false; isAdded = false; taskCardController.saveTask()">SAVE</button>
    <button  ng-click="isEdited = false; isAdded = false; taskCardController.addTask(this)">ADD</button>
</div>
