<div class="panel panel-primary">
  <div class="panel-heading">
    {{taskPanelController.task.task}}
    {{taskPanelController.task.priority}}
    <button type="button" class="btn btn-default" ng-click="isEdited = true">
      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default" ng-click="taskPanelController.deleteTask(this)">
      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
    </button>
  </div>
  <div class="panel-body">
    {{taskPanelController.task.assign}}
  </div>
  <div class="panel-footer">Panel footer</div>
</div>
<task-card ng-show="isEdited"></task-card>
