<div class="taskColumn">
  <input ng-model="taskColumnController.column.columnName"/>
  <button type="button" class="btn btn-default" ng-click="taskColumnController.deleteColumn(this)">
    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
  </button>
  <ul class="column" ui-sortable="taskColumnController.sortableOptions" ng-model="taskColumnController.column.tasks">
      <task-panel ng-repeat="task in taskColumnController.column.tasks" task="task" delete-task="taskColumnController.deleteTask(task)"></task-panel>
  </ul>
  <button type="button" class="btn btn-default" ng-click="isCardShown = true">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  </button>
  <task-card ng-show="isCardShown" is-card-shown="isCardShown" is-new="true" 
    task="taskColumnController.newTask" add-task="taskColumnController.addTask(task)">
  </task-card>
</div>
